# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
*.md
LICENSE

# Environment files
.env
env.example

# Volumes
frappe-bench/
frappe-mysql/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/